<footer class="py-5 text-center text-body-secondary bg-body-white">
    <p>Concept made by <a href="https://www.linkedin.com/in/nikola-popovi%C4%87-38a418215/">Nikola</a>.</p>
    <p class="mb-0">
      <a href="#">Back to top</a>
    </p>
  </footer>